.inputStyle {
  position: relative;
  width: 100%;
  border: none;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;
  font-weight: 800;
  font-size: 0.95rem;
}

.textBoxContainer {
  position: relative;
  display: flex;
  width: 20vw;
  height: 48px;
  left: 40vw;
  background-color: white;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 1px 10px;
  box-sizing: border-box;
  transition: 0.3s;
  font-weight: 800;
}

.textBoxContainer:hover {
  border: 2px solid dodgerBlue;
  box-shadow: 0 0 12px 0 dodgerBlue;
}

.textBoxContainerError {
  border-color: brown;
  box-shadow: 0 0 12px 0 brown;
}

.iconContainer {
  margin: auto 0.5vw;
  margin-bottom: -0.25vh;
  cursor: pointer;
  font-size: 1rem;
}

.message {
  position: relative;
  border-radius: 5px;
  margin-top: 1.5vh;
  left: 40vw;
  width: 20vw;
  text-align: center;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.message h3 {
  width: 80%;
  font-size: 0.95rem;
  font-weight: 600;
  margin: 1vh auto;
}

.errorMessage {
  background-color: #e6b6b4;
}

.errorMessage h3 {
  color: brown !important;
}

.infoMessage {
  background-color: #b6e1ee;
}

.infoMessage h3 {
  color: #2960ed;
}

.roof {
  position: relative;
  height: 15px;
  width: 15px;
  transform: rotate(45deg);
  top: 3vh;
}

@media screen and (min-width: 1800px) {
  .textBoxContainer {
    width: 8vw;
    left: 46vw;
  }
}

@media screen and (max-width: 900px) {
  .textBoxContainer {
    width: 30vw;
    left: 35vw;
  }
}

@media screen and (max-width: 600px) {
  .textBoxContainer {
    width: 60vw;
    left: 20vw;
  }
}
